[submodule "lib/jermaine"]
	path = lib/jermaine
	url = https://github.com/embeepea/jermaine.git
[submodule "lib/error-display"]
	path = lib/error-display
	url = https://github.com/nemac/error-display.git
[submodule "mugl-schema"]
	path = mugl-schema
	url = https://github.com/multigraph/mugl-schema.git
[submodule "lib/ajaxthrottle"]
	path = lib/ajaxthrottle
	url = https://github.com/nemac/ajaxthrottle.git
[submodule "lib/lightbox"]
	path = lib/lightbox
	url = https://github.com/nemac/lightbox.git
