[submodule "lib/jermaine"]
	path = lib/jermaine
	url = https://github.com/semmypurewal/jermaine.git
[submodule "lib/error-display"]
	path = lib/error-display
	url = https://github.com/nemac/error-display.git
[submodule "mugl-schema"]
	path = mugl-schema
	url = https://github.com/multigraph/mugl-schema.git
